* {
  text-align: center;
  font-family: 'Diphylleia', serif;
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Orbit', sans-serif;
}

html {
  background-color: lightcyan;
  font-size: 16px;
}

body {
  width: 640px;
  margin: auto;
}

h1 {
  font-size: 48px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

p {
  font-size: 1.2rem;
}

#funfacts {
  background: linear-gradient(45deg, rgb(62, 62, 62), rgb(168, 170, 255));
}
