* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
html {
  margin: 0;
  font-size: 16px;
  width: 100%;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container {
  background-color: antiquewhite;
  width: 30rem;
  height: 40rem;
  margin: 10px auto;
  border: 5px solid black;
  padding: 10px;
}
.diary_container {
  justify-content: space-evenly;
}
ul {
  display: flex;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}
.date {
  display: flex;
  height: 50%;
  width: 100px;
  padding: 0px;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
}
.weather {
  height: 50%;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-style: solid;
  border-left: none;
}
.date_text {
  /* margin: auto; */
  text-align: center;
}
.today {
  display: flex;
  flex-direction: column;
  margin: -20px 10px;
  border: 1px solid;
  height: 50%;
  overflow: hidden;
  background-color: white;
}
hr {
  width: 400px;
  margin: 0px 10px;
}
.title_text {
  margin: 5px 10px;
}
img {
  width: 420px;
  height: 130px;
}
.img_jjnag,
.mushroom {
  height: 45%;
  align-self: center;
}
.comment {
  margin-top: 50px;
}
table {
  text-align: center;
  border: 5px solid black;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  background-color: white;
}
tr,
td {
  font-weight: bold;
  border: 1px solid black;
}
footer {
  text-align: center;
}
